<html>
  <%- include('../components/head'); %>
  <body class="container">
    <%- include('../components/header'); %>
    <main>
      <div class="p-5 bg-secondary text-white">
        <h1>Node com EJS</h1>
        <p><%= subtitle%></p>
        <ul>
          <% qualitys.forEach(function(quality){ %>
          <li>
            <strong> <%= quality.tittle %></strong> <%= quality.message %>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>
    <%- include('../components/footer'); %>
  </body>
</html>
